<%- include('layout.ejs'); %>
<div class="container p-4">
    <div class="row justify-content-center">
        <h3>Welcome <%= user.name %> </h3> &nbsp;
        <!-- <h3>I stay at <%= user.location %> </h3> <br> -->
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://drive.google.com/uc?export=view&id=1x8Tv6dvX7sI3Fd3Uq_z5ppQVhm4QK9E6" alt="Card image cap">
                <div class="card-body d-flex flex-column">
                  <!-- <h5 class="card-title">Blogs</h5> -->
                  <a href="/blog" class="btn btn-primary">Add a new Blog</a>
                </div>
              </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://drive.google.com/uc?export=view&id=mKfgKShGDGJMxR1gMfMqgi2EWvFoAb" alt="Card image cap">
                <div class="card-body d-flex flex-column">
                  <!-- <h5 class="card-title">Poem</h5> -->
                  <a href="/poem" class="btn btn-primary">Add a new Poem</a>
                </div>
              </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://drive.google.com/uc?export=view&id=1g5WynmtRI1MjSxlNGNHi_UDJpDqOwiwR" alt="Card image cap">
                <div class="card-body d-flex flex-column">
                  <!-- <h5 class="card-title">Photo</h5> -->
                  <a href="/photo" class="btn btn-primary">Add a new Photo</a>
                </div>
              </div>
        </div>
    </div>
</div>
<div class="p-4">
    <a href="/logout"> <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Logout</button> </a>
</div>
</body>
</html>